section.post
  .container
    .row.row--center
      .col-12.col-sm-9.col-md-6
        h2.post__title Meet our Head of HR: Adventurer without limits
      .col-12.col-sm-9
        p.post__subtitle This installment of Meet the Making Senser focuses on Gabriel Buyatti. Read how he manages to fulfill a critical role and the interests that drive him, followed by an introspective self-analysis.
      .col-12
        .post__image
          img(src="images/post-image.jpg")
        p.post__text Once again we’re tapping into our company resources with another teammate interview. Today it’s Nazareno Oviedo’s turn, so we asked him all about his role as an UX Developer at Making Sense. To begin, a few basics: he’s from Mar del Plata, and he’s a lover of tango and National music. He plays the piano and the guitar and he’s curious about learning new things every day.
        p.post__text As for his professional life, Nazareno graduated from Universidad Nacional Tecnológica when he was 25 years old. Currently, he’s part of the UX/UI team for one of our partners’ projects.
        p.post__text Once again we’re tapping into our company resources with another teammate interview. Today it’s Nazareno Oviedo’s turn, so we asked him all about his role as an UX Developer at Making Sense. To begin, a few basics: he’s from Mar del Plata, and he’s a lover of tango and National music. He plays the piano and the guitar and he’s curious about learning new things every day.
        p.post__text As for his professional life, Nazareno graduated from Universidad Nacional Tecnológica when he was 25 years old. Currently, he’s part of the UX/UI team for one of our partners’ projects.