.shared-count
  ul.shared-count__list
    li.shared-count__box.shared-count__box--facebook
      i.fab.fa-facebook-f
      span.shared-count__box-count 0
    li.shared-count__box.shared-count__box--twitter
      i.fab.fa-twitter
      span.shared-count__box-count 0
    li.shared-count__box.shared-count__box--instagram
      i.fab.fa-instagram
      span.shared-count__box-count 0
    li.shared-count__box.shared-count__box--linkedin
      i.fab.fa-linkedin
      span.shared-count__box-count 0
